@model List<FAQ>

@{
    Layout = "_TemplateUser";
    ViewData["Title"] = "FAQ's";
}

<div class="pt-4 pt-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <!-- Title -->
                <h1 style="color:#f4f4f5">Frequently Asked Questions</h1>
                <!-- Info -->
                <p>¿Tiene preguntas? Estamos aquí para ayudarte</p>
                <!-- Search -->
                @*<form class="col-lg-8 position-relative mx-auto" style="display:none">
                <input class="form-control form-control-lg pe-5" type="search" placeholder="Type search words" aria-label="Search">
                <button class="text-primary-hover text-reset border-0 bg-transparent position-absolute top-50 end-0 translate-middle-y pe-3 py-0" type="submit"><i class="fas fa-search fs-6"></i></button>
                </form>*@
            </div>
        </div>
    </div>
</div>

<div class="pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 mx-auto">
                <div class="vstack gap-4">

                    @foreach (FAQ item in Model)
                    {
                        <!-- Card item START -->
                        <div class="card border p-0">
                            <!-- Card header -->
                            <div class="card-header bg-transparent border-bottom p-4">
                                <h5 class="mb-0">@item.Nombre</h5>
                            </div>

                            <!-- Card body -->
                            <div class="card-body p-4 pt-0">
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <p class="mb-0">@item.Descripcion</p>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                    }

                </div>
            </div>
        </div>
    </div>
</div>