
<div class="rela-block top-section grad-back" id="topSection">
    <div class="abs-cent-text top-text">
        <h1 class="big-text">Minimal & Bold</h1>
        <div class="orbitron top-orb">\\\///</div>
    </div>
</div>
<div class="rela-block under-top-section">
    <div class="half-big-text under-top-big-text">Sobre Nosotros</div>
    <div class="lines-thing"></div>
    <p class="under-top-small-text">
        Ponemos a tu disposición un equipo de profesionales con más 20 años de experiencia.
        En Vet Care, ofrecemos un servicio veterinario especializado, puedes ver todos nuestros servicios en la sección.

    </p>
    <p class="under-top-small-text">
        Nuestro horario.:
        <br />Lunes-Viernes: 10:00 a 20:30
        <br />Sábados: 10:00 a 14:00
        <br />Domingos y festivos: 11:00 a 14:00
    </p>
</div>


<div class="container">
    <div style="display:flex; align-items: flex-end;">
        <h2 class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">Servicios</h2>
        <h4 style="margin: 0 0 60px 10px"><a>VER TODOS</a></h4>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="thumb-pad1">
                <div class="thumbnail">
                    <figure><img src="https://vetpetstorage.blob.core.windows.net/vetcareimages/service8.png" alt=""></figure>

                    <div class="caption">
                        <p class="title">Medicina <br /> preventiva</p>
                        <p>Vacunas, desparasitaciones internas y externas, revisiones periódicas (revisiones anuales, revisiones geriátricas, revisión de cachorros...)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="thumb-pad1">
                <div class="thumbnail">
                    <figure><img src="https://vetpetstorage.blob.core.windows.net/vetcareimages/service21.jpg" alt=""></figure>

                    <div class="caption">
                        <p class="title">Identificación <br /> animal</p>
                        <p>Implantación de microchip en perros, gatos y hurones. Es la forma más rápida y segura de identificar a su animal de compañía.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="thumb-pad1">
                <div class="thumbnail">
                    <figure><img src="https://vetpetstorage.blob.core.windows.net/vetcareimages/service6.png" alt=""></figure>

                    <div class="caption">
                        <p class="title">Diagnóstico <br /> por imagen</p>
                        <p>Radiología simple y con contraste. <br /> Ecografía abdominal previa cita. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="thumb-pad1">
                <div class="thumbnail">
                    <figure><img src="https://vetpetstorage.blob.core.windows.net/vetcareimages/peluqueria_dogs_bwn2.png" alt=""></figure>

                    <div class="caption">
                        <p class="title">Peluqueria <br /> canina</p>
                        <p>Disponemos de peluquería previa cita. Realizamos corte de todas las razas y también mestizos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="content">
    <div class="thumb-box2">
        <div class="container">
            <p class="title wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"><span>Nuestra Zona de Usuario</span></p>

            <div class="row">
                @*                <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                *@
                <div class="thumb-box2 contain">
                    <div>
                        <p class="wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                            ¡Mantén a tu mascota saludable con solo un par de clics! Descarga nuestra aplicación de veterinaria y agenda tus citas, recibe recordatorios de vacunación y mantén un registro completo de la salud de tu peludo amigo. ¡Una herramienta indispensable para todo dueño responsable!
                        </p>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-lg-offset-4 col-md-offset-4 wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <strong><span>Tu mascota siempre al día</span></strong>
                            </div>
                        </div>
                    </div>
                    <div>
                        <figure class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"><img src="https://vetpetstorage.blob.core.windows.net/vetcareimages/dog_lay.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="content_map" style="filter: grayscale(100%);">
    <div class="google-map-api">
        <div id="map-canvas" class="gmap" style="overflow: hidden">
            <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3043.5322327074623!2d-4.007082!3d40.286139999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd41945caa0477eb%3A0x68ae0916007b7bd0!2sCl%C3%ADnica%20Veterinaria%20Serbal!5e0!3m2!1ses!2ses!4v1676844583291!5m2!1ses!2ses"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>